{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    Connecté en tant que {{ app.user.username }}
    -
    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
{% else %}
    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
{% endif %}


<p>Username: {{ user.username }}</p>
<p>Email: {{ user.email }}</p>

<a href="{{ path('fos_user_change_password') }}"> Modifier le mot de passe </a>

