
<link rel="stylesheet" href="../bundles/goldenfish/css/note.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


{% block GFN_body %}

<h1 id="title">Mes notes</h1>

{% if listNote is empty %}

<p id="empty_list"> Aucune note </p>

{% endif %}

{% for note in listNote %}

	<div class="notes">
		<div class="note_icon"><span class="glyphicon glyphicon-file file_gl"></span> </div>
    <p class="note_title">{{ note.title }}</p>
    <p class="note_content" id=" {{ note.id }} " style="display:none">{{ note.content }}</p>
	</div>
  <a href="{{ path('partage_note', {'id': note.id}) }}">Partager</a>
{% endfor %}


<h1 id="title">Notes partagées avec moi</h1>
{% if listNotePartage is empty %}

<p id="empty_list"> Aucune note </p>

{% endif %}
{% for notepartage in listNotePartage %}
	<div class="notes">
		<div class="note_icon"><span class="glyphicon glyphicon-file file_gl"></span> </div>
    <p class="note_title">{{ notepartage.title }}</p>
	</div>
{% endfor %}
        <script type="text/javascript" src="../bundles/goldenfish/js/jquery.js"></script>

{% endblock %}